<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Exam</title>
    <!--  Element UI 样式  -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        #Login-frame,#Register-frame{
            box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
            width: 300px;
            padding: 50px 100px;
            margin: 200px auto;
        }
        #Exam-frame{
            box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
            padding: 15px;
            width: 900px;
            min-height: 1200px;
            margin: 15px auto;
        }
        #Register-frame a,#Login-frame a{
            font-size: 14px;
        }
        .Placeholder{
            padding: 10px;
        }
        .el-card__body{
            padding: 12px 20px;
            font-size: 15px;
        }
    </style>
    <!--  Vue  -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!--  axios  -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!--  Element UI 组件库  -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>

<div>
    <div id="Login-frame" v-if="showLogin">
        <p>用户名：<el-input v-model="username" placeholder="请输入用户名"></el-input></p>
        <p>密 码：<el-input v-model="password" show-password placeholder="请输入密码"></el-input></p>
        <p>
            <el-button @click="goExam" type="success">登录</el-button>
            <a>没有账号？去</a>
            <el-button @click="goRegister" type="primary">注册</el-button>
        </p>
    </div>

    <div id="Register-frame" v-if="showRegister">
        <p>用户名：<el-input v-model="username" placeholder="请输入用户名"></el-input></p>
        <p>密 码：<el-input v-model="password" placeholder="请输入密码"></el-input></p>
        <p>确认密码：<el-input v-model="repwd" placeholder="确认密码"></el-input></p>
        <p>手机号：<el-input v-model="tel" placeholder="请输入手机号"></el-input></p>
        <p>
            <el-button @click="register" type="primary">注册</el-button>
            <a>已有账号？去</a>
            <el-button @click="goLogin" type="success">登录</el-button>
        </p>
    </div>

    <div id="Exam-frame" v-if="showExam">
        <div>
            <el-row :gutter="0">
                <el-col :span="5">
                    <el-card shadow="always"><i class="el-icon-user"></i>考试人：{{ login.username }}</el-card>
                </el-col>
                <el-col :span="3.5">
                    <el-card shadow="always"><i class="el-icon-tickets"></i>考试ID：{{ examId }}</el-card>
                </el-col>
                <el-col :span="5.5">
                    <el-card shadow="always"><i class="el-icon-monitor"></i>考试模式：{{ pattern }}</el-card>
                </el-col>
                <el-col :span="4.5">
                    <el-card shadow="always"><i class="el-icon-view"></i>是否开启监控：{{ monitor }}</el-card>
                </el-col>
                <el-col :span="5.5">
                    <el-card shadow="always"><i class="el-icon-loading"></i>考试时长：{{ timeLength }}分钟</el-card>
                </el-col>
            </el-row>
        </div>
        <div v-for="(item,index) in items">
            <p>{{ index+1 }}. {{ item.title }}</p>
            <p v-if="item.type === 1">
                <el-radio type="radio" v-model="answer[index]" label="1" />A. {{ item.option1}}</el-radio>
                <br/>
                <el-radio type="radio" v-model="answer[index]" label="2" />B. {{ item.option2 }}</el-radio>
                <br/>
                <el-radio type="radio" v-model="answer[index]" label="3" />C. {{ item.option3 }}</el-radio>
                <br/>
                <el-radio type="radio" v-model="answer[index]" label="4" />D. {{ item.option4 }}</el-radio>
            </p>
            <p v-else-if="item.type === 2">
                <el-radio type="radio" v-model="answer[index]" label="1"/>1. {{ item.option1 }}</el-radio>
                <el-radio type="radio" v-model="answer[index]" label="2" />2. {{ item.option2 }}</el-radio>
            </p>
            <p v-else-if="item.type === 3">
                <el-input type="textarea" autosize v-model="answer[index]"></el-input>
            </p>
        </div>
        <br/>
        <div>
            <el-progress :percentage="percentageNum"></el-progress>
            <br/>
            <el-row :gutter="20">
                <el-col :span="8"><div class="Placeholder"></div></el-col>
                <el-col :span="4">
                    <el-button @click="submitExam" type="success">完成考试</el-button>
                </el-col>
                <el-col :span="4">
                    <el-upload>
                        <el-button icon="el-icon-paperclip" type="primary">上传附件</el-button>
                    </el-upload>
                </el-col>
                <el-col :span="8"><div class="Placeholder"></div></el-col>
            </el-row>
        </div>
    </div>
</div>

<script>
    var url = 'http://localhost:8088';
    // var url = 'http://122.51.73.146:8088';
    var login = new Vue({
        el: '#Login-frame',
        data: {
            showLogin: true,
            username: '',
            password: ''
        },
        methods: {
            goExam: function () {
                axios.get(url + '/login',{
                    params:{
                        username : this.username,
                        password : this.password
                    }
                }).then(res=>{
                    console.log(res);
                    if(res.data.code === 0){
                        this.showLogin = false;
                        exam.showExam = true;
                        exam.getPaper(res.data.data);
                    } else {
                        alert("Error："+res.data.msg);
                    }
                });
            },
            goRegister: function () {
                this.showLogin = false;
                register.showRegister = true
            }
        }
    });
    var register = new Vue({
        el: '#Register-frame',
        data: {
            showRegister: false,
            username: '',
            password: '',
            repwd: '',
            tel: ''
        },
        methods: {
            register: function () {
                // console.log("Register");
                axios.get(url + '/register',{
                    params:{
                        username: this.username,
                        password: this.password,
                        tel: this.tel
                    }
                }).then(res=>{
                    if (this.repwd === this.password){
                        if (res.data.code === 0){
                            alert("注册成功，去登陆！");
                            this.showRegister = false;
                            login.showLogin = true;
                        } else {
                            alert("Error：" + res.data.msg);
                        }
                    } else {
                        alert("两次密码不一致")
                    }
                });
            },
            goLogin: function () {
                this.showRegister = false;
                login.showLogin = true
            }
        }
    });
    var exam = new Vue({
        el: '#Exam-frame',
        data: {
            showExam: false,
            examId: '',
            pattern: '',
            monitor: '',
            timeLength: '',
            items: '',
            answer: []
        },
        computed:{
            percentageNum: function () {
                let j = 0;
                for({} in this.answer) {
                    j++;
                }
                return 100*j/this.items.length
            }
        },
        methods: {
            getPaper : function (examId) {
                axios.get(url + '/getPaper',{
                    params: {
                        examId: examId
                    }
                }).then(res=>{
                    console.log(res);
                    this.examId = res.data.data.id;
                    this.items = res.data.data.testTitleList;
                    this.timeLength = res.data.data.timeLength;
                    if (res.data.data.monitor === 1) {
                        this.monitor = '是'
                    } else if (res.data.data.monitor === 0){
                        this.monitor = '否'
                    }
                    if (res.data.data.pattern === 1) {
                        this.pattern = '限通信模式'
                    } else if (res.data.data.pattern === 2) {
                        this.pattern = '霸屏模式'
                    }
                })
            },
            submitExam: function () {
                let isDone = true;
                if (this.percentageNum < 100){
                    isDone = confirm("题目完成度没有100%，确认结束本次考试吗");
                }
                if (isDone){
                    // 答案加 []
                    // for (let i = 0; i < this.answer.length; i++) {
                    //     this.answer[i] = '['+this.answer[i]+']'
                    // }
                    axios.post(url + '/submitExam',{
                        examId: this.examId,
                        username: login.username,
                        answer: this.answer,
                    }).then(res=>{
                        console.log(this.answer);
                        console.log(res);
                    })
                }
            }
        }
    });
</script>
</body>
</html>