<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzq.exam_stu_server.domain.dao.ExamItemsMapper">
  <resultMap id="BaseResultMap" type="com.zzq.exam_stu_server.domain.entity.ExamItems">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="exam_id" jdbcType="INTEGER" property="examId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="answer" jdbcType="VARCHAR" property="answer" />
    <result column="enclosure" jdbcType="VARCHAR" property="enclosure" />
  </resultMap>
  <sql id="Base_Column_List">
    Id, exam_id, user_id, answer, enclosure
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from exam_items
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from exam_items
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="Id" keyProperty="id" parameterType="com.zzq.exam_stu_server.domain.entity.ExamItems" useGeneratedKeys="true">
    insert into exam_items (exam_id, user_id, answer, 
      enclosure)
    values (#{examId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{answer,jdbcType=VARCHAR}, 
      #{enclosure,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="Id" keyProperty="id" parameterType="com.zzq.exam_stu_server.domain.entity.ExamItems" useGeneratedKeys="true">
    insert into exam_items
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="examId != null">
        exam_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="answer != null">
        answer,
      </if>
      <if test="enclosure != null">
        enclosure,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="examId != null">
        #{examId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="answer != null">
        #{answer,jdbcType=VARCHAR},
      </if>
      <if test="enclosure != null">
        #{enclosure,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zzq.exam_stu_server.domain.entity.ExamItems">
    update exam_items
    <set>
      <if test="examId != null">
        exam_id = #{examId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="answer != null">
        answer = #{answer,jdbcType=VARCHAR},
      </if>
      <if test="enclosure != null">
        enclosure = #{enclosure,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zzq.exam_stu_server.domain.entity.ExamItems">
    update exam_items
    set exam_id = #{examId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      answer = #{answer,jdbcType=VARCHAR},
      enclosure = #{enclosure,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>